.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.list{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.item{
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}

.imager{
    position: relative;
}

.additional{
    position: absolute;
    display: flex;
    justify-content: center;
    gap:10px;
    width: 100%;
    bottom: -26px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, bottom 0.5s ease-in-out;
}

.additional > div{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.imager:hover .additional{
    opacity: 1;
    bottom: 26px;
}
.additional >div:hover{
    background-color: #7fad39;
    color: white;
    transform: rotate(360deg);
    transition: transform 0.3s ease-in-out;
}

.name{
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    font-weight: 400;
}

.price{
    font-size: 18px;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
}